---
import { Picture } from 'astro:assets'
import { SITE } from '@/config.mjs'
import Button from '@/components/controls/Button.astro'
import Container from '@/components/common/Container.astro'

interface Props {
  id?: string
  title: string
  description: string
  primaryButton?: {
    label: string
    to: string
  }
  secondaryButton?: {
    label: string
    to: string
  }
  image: {
    light: ImageMetadata
    dark: ImageMetadata
    alt: string
  }
}

const { id, title, description, primaryButton, secondaryButton, image } = Astro.props
---

<div class="relative overflow-hidden dark:bg-darker lg:overflow-auto" id={id}>
  <div class="absolute inset-x-0 top-32 lg:hidden">
    <div
      aria-hidden="true"
      class="grid grid-cols-2 -space-x-52 opacity-50 dark:opacity-60 2xl:mx-auto 2xl:max-w-6xl"
    >
      <div class="h-60 bg-gradient-to-br from-primary to-red-400 blur-3xl dark:from-red-700"></div>
      <div
        class="h-72 rounded-full bg-gradient-to-r md:from-secondary md:to-green-200 blur-3xl to-secondary from-transparent dark:to-green-600"
      >
      </div>
    </div>
  </div>
  <Container>
    <div class="relative ml-auto pt-40 xl:pt-36">
      <div class="gap-12 md:flex md:items-center">
        <div class="text-center sm:px-12 md:w-2/3 md:px-0 md:text-left lg:w-1/2">
          <h1 class="text-5xl font-black dark:text-white md:text-6xl xl:text-7xl">
            {title}
          </h1>
          <div class="">
            <p class="mt-8 text-lg text-gray-700 dark:text-gray-100">
              {description}
            </p>
            {
              (primaryButton || secondaryButton) && (
                <div class="mt-12 flex justify-center gap-4 sm:gap-6 md:justify-start">
                  {primaryButton && (
                    <Button
                      El="a"
                      emphasis="primary"
                      label={primaryButton.label}
                      to={primaryButton.to}
                    />
                  )}
                  {secondaryButton && (
                    <Button
                      El="a"
                      emphasis="secondary"
                      label={secondaryButton.label}
                      to={secondaryButton.to}
                    />
                  )}
                </div>
              )
            }
          </div>
        </div>
        <div class="relative mt-20 md:mt-0 md:w-2/5 lg:w-3/5">
          <div class="-ml-6 md:-mr-72 lg:mr-0">
            <Picture
              src={image.light}
              class="h-full object-cover object-left dark:hidden"
              alt={image.alt}
              widths={SITE.imageWidths}
              formats={SITE.imageFormats}
            />
            <Picture
              src={image.dark}
              class="hidden h-full object-cover object-left dark:block"
              alt={image.alt}
              widths={SITE.imageWidths}
              formats={SITE.imageFormats}
            />
          </div>
        </div>
      </div>
    </div>
  </Container>
</div>
