---
import Container from '@/components/common/Container.astro'
import { getCollection } from 'astro:content'
import NewsItem from './NewsItem.astro'
import { Icon } from 'astro-icon/components'
import { external } from '@/data/links'

// display only the last 3 news
const news = (await getCollection('news'))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 3)

interface Props {
  id?: string
}

const { id } = Astro.props
---

<div id={id}>
  <Container>
    <div class="mb-12 space-y-2 pt-10 text-center">
      <h2 class="text-3xl font-bold text-gray-900 dark:text-white md:text-4xl lg:text-5xl">
        Aktuelles
      </h2>
      <p class="text-gray-600 dark:text-gray-300 lg:mx-auto lg:w-6/12">
        Bleib auf dem Laufenden! Die neuesten Infos rund um den SVE erh채ltst du am schnellsten 체ber
        unsere Social-Media-Kan채le. Zus채tzlich findest du hier alle wichtigen News und Updates.
      </p>
    </div>

    <div class="my-12 flex justify-center">
      <div
        class="inset-0 flex h-11 w-max rounded-full border border-transparent bg-primary/10 px-5 text-primary dark:border-gray-700 dark:bg-gray-800 sm:px-8"
      >
        {
          external.map((link) => (
            <a
              class="m-auto border-l border-black/5 px-4 text-primary first:border-none first:pl-0 last:pr-0 dark:border-white/5 dark:text-gray-300 sm:px-6"
              href={link.to}
              title={link.title}
              target="_blank"
              rel="noreferrer"
              aria-label={link.title}
            >
              <Icon
                fill="currentColor"
                class="size-6 duration-300 hover:scale-125 active:scale-95 active:duration-75"
                name={link.icon}
              />
            </a>
          ))
        }
      </div>
    </div>

    <div>
      {news.map((item) => <NewsItem news={item} />)}
    </div>
  </Container>
</div>
