---
import HeaderSection from '@/components/blocks/HeaderSection.astro'
import Teams from '@/components/blocks/Teams.astro'
import Layout from '@/layouts/Layout.astro'
import type { MetaSEO, Team } from '@/types'
import image from '@/assets/meta/teamsport.jpg'
import { getCollection } from 'astro:content'

const groupedTeams: {
  id: string
  name: string
  description: string
  teams: Team[]
}[] = []
for (const team of (await getCollection('teams'))
  .map((item) => item.data)
  .sort((a, b) => a.sortOrder - b.sortOrder)) {
  let group: any = groupedTeams.find((group) => group.id === team.category.id)
  if (!group) {
    group = {
      id: team.category.id,
      name: team.category.name,
      description: team.category.description,
      teams: [],
    }
    groupedTeams.push(group)
  }
  group.teams.push(team)
}

const meta: MetaSEO = {
  title: 'Teamsport',
  description:
    'Entdecken Sie Fußball beim SV Eutingen! Attraktive Fußballangebote für alle Altersgruppen zu günstigen Konditionen. Fußball ist unser Herzstück und Integrationsmotor. Probieren Sie auch Volleyball!',
  image,
}
---

<Layout {meta}>
  <HeaderSection
    title="Teamsport"
    description="Wir bieten Fußball für Kinder, Jugendliche, Frauen und Männer zu günstigen Konditionen. Als Integrationsmotor Nummer eins fördern wir die Vielfalt im SV Eutingen. Zusätzlich zum breiten Fußballangebot besteht die Möglichkeit, Volleyball zu spielen."
  >
    <nav class="mx-auto flex flex-wrap justify-center gap-3 px-5 md:px-12 lg:max-w-7xl">
      {
        groupedTeams.map((item) => (
          <a
            href={`#${item.id}`}
            title={item.name}
            aria-label={item.name}
            class="text-primary hover:bg-primary rounded-full border border-gray-200 px-3 py-1 text-sm font-medium transition duration-300 hover:border-transparent hover:text-white dark:border-gray-700 dark:text-gray-300"
          >
            {item.name}
          </a>
        ))
      }
    </nav>
  </HeaderSection>

  {
    groupedTeams.map((item) => (
      <Teams id={item.id} title={item.name} teams={item.teams}>
        {item.description}
      </Teams>
    ))
  }
</Layout>
