---
import HeaderSection from '@/components/blocks/HeaderSection.astro'
import Teams from '@/components/blocks/Teams.astro'
import Layout from '@/layouts/Layout.astro'
import type { MetaSEO } from '@/types'
import teams from '@/data/teams'

const sections = [
  {
    id: 'herren',
    title: 'Herrenfußball',
    teams: teams.herren,
    description:
      'In unserer Herrenfußballabteilung ermöglichen wir Teamsport auf verschiedenen Leistungsniveaus. Bei uns ist für jeden etwas dabei. Durch teambuildende Aktionen stärken wir Gemeinschaft und Wir-Gefühl.'
  },
  {
    id: 'frauen',
    title: 'Frauenfußball',
    teams: teams.frauen,
    description:
      'In unserer Frauenfußballabteilung ermöglichen wir Teamsport auf verschiedenen Leistungsniveaus. Bei uns ist für jede Frau etwas dabei. Durch teambuildende Aktionen stärken wir Gemeinschaft und Wir-Gefühl.'
  },
  {
    id: 'jugend-m',
    title: 'Jugendfußball (männlich)',
    teams: teams.jugend_herren,
    description:
      'Jugendliche sind unsere Zukunft. Mit unseren Trainern und Betreuern bieten wir ein schönes Sportangebot, bei dem neben dem sportlichen Ehrgeiz die Freude an der Gemeinschaft im Mittelpunkt steht. Viele Aktionen bereichern unsere Jugendabteilung und bieten Abwechslung.'
  },
  {
    id: 'jugend-w',
    title: 'Jugendfußball (weiblich)',
    teams: teams.jugend_frauen,
    description:
      'Jugendliche sind unsere Zukunft. Mit unseren Trainern und Betreuern bieten wir ein schönes Sportangebot, bei dem neben dem sportlichen Ehrgeiz die Freude an der Gemeinschaft im Mittelpunkt steht. Viele Aktionen bereichern unsere Jugendabteilung und bieten Abwechslung.'
  },
  {
    id: 'kinder',
    title: 'Kinderfußball',
    teams: teams.kinder,
    description:
      'Kinder sind unsere Zukunft. Mit unseren Trainern und Betreuern bieten wir ein schönes Sportangebot, bei dem für die Kinder Bewegung, Sport und die Freude an der Gemeinschaft im Mittelpunkt stehen. Viele Aktionen bereichern unser Kinderangebot und bieten Abwechslung.'
  },
  {
    id: 'volleyball',
    title: 'Volleyball',
    teams: teams.volleyball,
    description:
      'Unsere Volleyballgruppe nimmt zwar nicht am regulären Wettbewerb teil, aber erlebt tolle Stunden. Denn Volleyball macht in dieser Hobbygruppe richtig viel Spaß.'
  }
]

// TODO: add custom meta image
const meta: MetaSEO = {
  title: 'Teamsport',
  description:
    'Entdecken Sie Fußball beim SV Eutingen! Attraktive Fußballangebote für alle Altersgruppen zu günstigen Konditionen. Fußball ist unser Herzstück und Integrationsmotor. Probieren Sie auch Volleyball!'
}
---

<Layout {meta}>
  <HeaderSection
    title="Teamsport"
    description="Wir bieten Fußball für Kinder, Jugendliche, Frauen und Männer zu günstigen Konditionen. Als Integrationsmotor Nummer eins fördern wir die Vielfalt im SV Eutingen. Zusätzlich zum breiten Fußballangebot besteht die Möglichkeit, Volleyball zu spielen."
  >
    <nav class="mx-auto px-5 md:px-12 lg:max-w-7xl flex flex-wrap gap-3 justify-center">
      {
        sections.map((item) => (
          <a
            href={`#${item.id}`}
            title={item.title}
            aria-label={item.title}
            class="rounded-full border border-gray-200 px-3 py-1 text-sm font-medium text-primary transition duration-300 hover:border-transparent hover:bg-primary hover:text-white dark:border-gray-700 dark:text-gray-300"
          >
            {item.title}
          </a>
        ))
      }
    </nav>
  </HeaderSection>

  {
    sections.map((item) => (
      <Teams id={item.id} title={item.title} teams={item.teams}>
        {item.description}
      </Teams>
    ))
  }
</Layout>
