---
import { getAppointments } from '@/api/appointments'
import HeaderSection from '@/components/blocks/HeaderSection.astro'
import Container from '@/components/common/Container.astro'
import noAppointmentsLight from '@/assets/pages/termine-light.png'
import noAppointmentsDark from '@/assets/pages/termine-dark.png'
import Layout from '@/layouts/Layout.astro'
import type { MetaSEO } from '@/types'
import { SITE } from '@/config.mjs'
import { Picture } from 'astro:assets'
import Faqs from '@/components/common/Faqs.astro'

const appointments = await getAppointments()

const faqs = [
  {
    question: 'Wie kann ich den Kalender abonnieren?',
    answer: `Über <a class="underline duration-300 hover:text-primary dark:hover:text-white" href="https://calendar.google.com/calendar/embed?src=info%40sv-eutingen.de&ctz=Europe%2FBerlin"target="_blank" rel="noreferrer">diesen Link</a> können die Termine als Google Kalender geöffnet und auch in deinen persönlichen Kalenderintegriert werden.<br /><br />Hier findest du den passenden <a class="underline duration-300 hover:text-primary dark:hover:text-white" href="https://support.google.com/calendar/answer/37100" target="_blank" rel="noreferrer">Hilfeartikel</a> für mehr Informationen.`
  },
  {
    question: 'Wo finde ich die Termine zu Fitnesskursen und Events?',
    answer: `Wir haben eigene Seiten für unsere Fitnesskurse und Events erstellt. Dort findest du alle Informationen zu den aktuellen Angeboten.<br /><br />Erfahre mehr über unsere <a class="underline duration-300 hover:text-primary dark:hover:text-white" href="fitness">Fitnesskurse</a> und <a class="underline duration-300 hover:text-primary dark:hover:text-white" href="events">Events</a>.`
  }
]

// TODO: add custom meta image
const meta: MetaSEO = {
  title: 'Termine',
  description:
    'Entdecke die wichtigsten Termine des SV Eutingen! Auf unserer Seite findest du alle Veranstaltungen und Events auf einen Blick.'
}
---

<Layout {meta}>
  <HeaderSection
    title="Termine"
    description="Hier findest Du unsere wichtigsten Vereinstermine mit unterschiedlichen Veranstaltungen und Events. Details erfährst Du durch einen Klick auf den Termin."
  />
  <div>
    <Container>
      <div class="text-gray-600 dark:text-gray-300">
        {
          (appointments ?? []).length == 0 ? (
            <div class="mx-auto flex flex-col items-center gap-6 sm:w-4/5 md:w-full md:flex-row lg:gap-12">
              <div class="md:w-1/2">
                <Picture
                  src={noAppointmentsLight}
                  loading="lazy"
                  class="relative dark:hidden"
                  alt="Aktuell keine Termine"
                  widths={SITE.imageWidths}
                  formats={SITE.imageFormats}
                />
                <Picture
                  src={noAppointmentsDark}
                  loading="lazy"
                  class="relative hidden dark:block"
                  alt="Aktuell keine Termine"
                  widths={SITE.imageWidths}
                  formats={SITE.imageFormats}
                />
              </div>
              <div class="ml-auto h-full md:w-1/2">
                <h3 class="text-2xl font-bold text-gray-900 dark:text-white md:text-3xl lg:text-4xl">
                  Aktuell keine Termine
                </h3>
                <p class="my-12 text-gray-600 dark:text-gray-300">
                  In der nächsten Zeit steht kein größerer Termin an. Bitte schaue regelmäßig
                  vorbei, um über zukünftige Veranstaltungen informiert zu bleiben.
                  <br />
                  <br />
                  Du kannst auch unseren Kalender abonnieren, um keine Neuigkeiten zu verpassen.
                </p>
              </div>
            </div>
          ) : (
            <div class="flex justify-center">
              <div class="grid w-full max-w-3xl gap-6">
                {appointments.map((appointment) => (
                  <div class="flex flex-col rounded-3xl border border-gray-100 bg-white bg-opacity-50 p-6 shadow-2xl shadow-gray-600/10 dark:border-gray-700 dark:bg-gray-800 dark:shadow-none sm:p-8 md:flex">
                    <span class="mb-2 inline-block font-medium text-gray-400 dark:text-gray-500 sm:mt-0">
                      {appointment.date}
                      <span class="md:mx-2"> • </span>
                      {appointment.time}
                    </span>
                    <h3 class="text-xl font-semibold text-gray-800 dark:text-white">
                      {appointment.title}
                    </h3>

                    {appointment.description && (
                      <div class="mt-4 flex-grow text-gray-600 dark:text-gray-300">
                        {appointment.description}
                      </div>
                    )}

                    {appointment.link && (
                      <div class="mt-6">
                        <a
                          href={appointment.link}
                          target="_blank"
                          class="rounded-full border border-gray-100 px-3 py-1 text-sm font-medium text-primary transition duration-300 hover:border-transparent hover:bg-primary hover:text-white dark:border-gray-700 dark:text-gray-300"
                        >
                          Details
                        </a>
                      </div>
                    )}
                  </div>
                ))}
              </div>
            </div>
          )
        }
        <Faqs faqs={faqs} />
      </div>
    </Container>
  </div>
</Layout>
