---
import type { HTMLAttributes } from 'astro/types'

interface Props extends HTMLAttributes<'input'> {
  id: string
  name: string
  label?: string
  value?: string
  placeholder?: string
}

const { id, name, label, value, placeholder, ...attrs } = Astro.props
---

<div
  class="relative space-y-2.5 *:has-[:disabled]:opacity-50 *:has-[:disabled]:pointer-events-none"
>
  {
    label && (
      <label class="text-gray-900 dark:text-white" for={id}>
        {label}
      </label>
    )
  }
  <input
    id={id}
    name={name}
    placeholder={placeholder}
    value={value}
    {...attrs}
    class="w-full placeholder-gray-400 text-gray-900 invalid:text-red-500 rounded-xl text-sm h-9 shadow-sm px-3 bg-white shadow-gray-950/5 dark:text-white dark:bg-gray-800 dark:shadow-gray-950/30 outline-2 focus:outline-primary invalid:border-red-500 invalid:focus:outline-red-500 dark:invalid:text-red-500 -outline-offset-1 focus:outline border border-gray-300 dark:border-gray-700"
  />
</div>
