---
import type { ThemedImage } from '@/types'
import ImageCarousel from './ImageCarousel.astro'
import { ulid } from 'ulid'
import { Icon } from 'astro-icon/components'

interface Props {
  images: ThemedImage[]
}

const { images } = Astro.props
const id = ulid()
---

<ImageCarousel images={images} dialogId={id} />
<dialog
  id={`image-gallery-popup-${id}`}
  class="m-0 h-screen max-h-full w-screen max-w-full backdrop:overflow-hidden backdrop:scrollbar-none dark:bg-gray-900"
>
  <div class="relative h-full p-4">
    <div class="grid h-full items-center">
      <div>
        <ImageCarousel images={images} indexId={id} />
      </div>
    </div>
    <button
      class="absolute right-4 top-4 grid place-items-center hover:text-gray-500 dark:text-gray-100 dark:hover:text-gray-300"
      onclick={`document.querySelector('#image-gallery-popup-${id}').close(); document.body.classList.remove('overflow-hidden')`}
    >
      <Icon class="size-7" name="mdi:close" />
    </button>
  </div>
</dialog>

<script>
  document.addEventListener('open-image-dialog', (event) => {
    const { id, index } = (event as any).detail
    const imageGallery = document.getElementById(`image-gallery-popup-${id}`) as HTMLDialogElement
    if (imageGallery) {
      imageGallery.showModal()
      document.body.classList.add('overflow-hidden')
      document.dispatchEvent(new CustomEvent('show-image-index', { detail: { id, index } }))
    }
  })
</script>
